<button type="button" ng-app="resources" ng-model="menuSelected"class="btn btn-default btn-grid" aria-label="Population Menu" ng-click="menuSelected = 'population'">
  <img src="res/populationMenu.png" class="img-rounded" alt="population">
</button>
<button type="button" ng-app="resources" ng-model="menuSelected" class="btn btn-default btn-grid" aria-label="Food Menu"  ng-click="menuSelected = 'food'">
  <img src="res/foodMenu.png" class="img-rounded" alt="food">
</button>

<button type="button" ng-app="resources" ng-model="menuSelected" class="btn btn-default btn-grid" aria-label="Wood Menu" ng-click="menuSelected = 'wood'">
  <img src="res/woodMenu.png" class="img-rounded" alt="wood">
</button>

<button type="button" ng-app="resources" ng-model="menuSelected"class="btn btn-default btn-grid" aria-label="Clay Menu" ng-click="menuSelected = 'clay'">
  <img src="res/clayMenu.png" class="img-rounded" alt="clay">
</button>

<button type="button"ng-app="resources" ng-model="menuSelected" class="btn btn-default btn-grid" aria-label="Stone Menu" ng-click="menuSelected = 'stone'">
  <img src="res/stoneMenu.png" class="img-rounded" alt="stone">
</button>

<button type="button" class="btn btn-default btn-grid" aria-label="Left Align">
  <img src="res/populationMenu.png" class="img-rounded" alt="population">
</button>   

<button type="button" class="btn btn-default btn-grid" aria-label="Left Align">
  <img src="res/populationMenu.png" class="img-rounded" alt="population">
</button>

<button type="button" class="btn btn-default btn-grid" aria-label="Left Align">
  <img src="res/populationMenu.png" class="img-rounded" alt="population">
</button> 

<button type="button" class="btn btn-default btn-grid" aria-label="Left Align">
  <img src="res/populationMenu.png" class="img-rounded" alt="population">
</button>

<button type="button" class="btn btn-default btn-grid" aria-label="Left Align">
  <img src="res/populationMenu.png" class="img-rounded" alt="population">
</button> 